.main-container {
  display: flex;
  flex-direction: row;
  background-color: #f5f5f5;
  padding: 1%;
  gap: 1%;
  height: 650px;

  .sub-div-container {
    border: 1px solid #ddd;
    width: 33%;
    padding: 1%;
    background-color: #f2f2f2;
  }
}
